<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="praekelt.weblistingapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_2x"
        android:label="@string/app_name"
        android:logo="@drawable/jac_logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginArea.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginArea.CreateProfileActivity"
            android:label="@string/create_profile" >
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/update" >
        </activity>
    </application>

</manifest>
